# Auto detect text files and perform LF normalization
* text=auto

# Shell scripts
*.sh eol=lf

# Windows scripts  
*.ps1 eol=crlf
*.bat eol=crlf

# Configuration files
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
